.headerOption {
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-right: 5px;
}
.headerOption:hover {
  color: black;
}
.headerOption-title {
  font-size: 10px;
  font-weight: 600;
}
